<html>
  <head>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>

  <body>
  <h1>graph</h1>
  <div style="border: 1px solid black; display: inline-block" >
    <svg height="{{height}}" width="{{width}}" id='map' >
        <line 
        style="stroke:rgb(0,0,0);stroke-width:1"  
          x1="{{xaxis.start[0]}}" 
          y1="{{xaxis.start[1]}}" 
          x2="{{xaxis.end[0]}}" 
          y2="{{xaxis.end[1]}}"/>
        <line 
          style="stroke:rgb(0,0,0);stroke-width:1"  
          x1="{{yaxis.start[0]}}" 
          y1="{{yaxis.start[1]}}" 
          x2="{{yaxis.end[0]}}" 
          y2="{{yaxis.end[1]}}"/>

        {% for d in time_data %}
          <circle cx="{{d[0]}}" cy="{{d[1]}}" r="2"/>
        {%endfor%}

        {% for tl in time_lines %}
          <line 
            style="stroke:rgb(0,0,0);stroke-width:1; "  
            x1="{{tl.start[0]}}" 
            y1="{{tl.start[1]}}" 
            x2="{{tl.end[0]}}" 
            y2="{{tl.end[1]}}"/>
        {%endfor%}
    </svg>
  </div>
  </body>
</html>
