<html>
  <head>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
  <style>
  body {
    background-color: #fffdd0;
  }
  </style>

  <body>
  <h1>graph</h1>
  <div style="border: 1px solid black; display: inline-block" >
    <svg height="{{height}}" width="{{width}}" id='map' >
        <line 
        shape-rendering="crispEdges"
        style="stroke:rgb(0,0,0)"  
          x1="{{xaxis.start[0]}}" 
          y1="{{xaxis.start[1]}}" 
          x2="{{xaxis.end[0]}}" 
          y2="{{xaxis.end[1]}}"/>
        <line 
          shape-rendering="crispEdges"
          style="stroke:rgb(0,0,0)"  
          x1="{{yaxis.start[0]}}" 
          y1="{{yaxis.start[1]}}" 
          x2="{{yaxis.end[0]}}" 
          y2="{{yaxis.end[1]}}"/>

        {% for sdl in scale_data_lines %}
        <line 
          shape-rendering="crispEdges"
          style="stroke:rgb(0,0,0)"  
          x1="{{sdl.start[0]}}" 
          y1="{{sdl.start[1]}}" 
          x2="{{sdl.end[0]}}" 
          y2="{{sdl.end[1]}}"/>
        {%endfor%}
        {% for (t, sdt) in scale_date_text  %}
        <text style="font-size: 12px" text-anchor="middle" x="{{sdt[0]}}" y="{{sdt[1]}}">{{t}}</text>
        {%endfor%}
        {% for sdl in scale_date_lines %}
        <line 
          shape-rendering="crispEdges"
          style="stroke:rgb(0,0,0)"  
          x1="{{sdl.start[0]}}" 
          y1="{{sdl.start[1]}}" 
          x2="{{sdl.end[0]}}" 
          y2="{{sdl.end[1]}}"/>
        {%endfor%}
        {% for (t, sdt) in scale_data_text%}
          <text style="font-size: 12px" text-anchor="end" x="{{sdt[0]}}" y="{{sdt[1]}}">{{t}}</text>
        {%endfor%}


        {% for d in time_data %}
          <circle cx="{{d[0]}}" cy="{{d[1]}}" r="2"/>
        {%endfor%}

        {% for tl in time_lines %}
          <line 
            shape-rendering="geometricPrecision"
            style="stroke:rgb(0,0,0);stroke-width:0.5; "  
            x1="{{tl.start[0]}}" 
            y1="{{tl.start[1]}}" 
            x2="{{tl.end[0]}}" 
            y2="{{tl.end[1]}}"/>
        {%endfor%}
    </svg>
    <br/>
    {{new_graph.svg()|safe }}
    <br/>
    {{new_graph.svg2()|safe }}
  </div>
  </body>
</html>
